.button{
  background-color:$blue;
  border:none;
  padding:$s-size;
  display: inline-block;
  font-weight: 300;
  color: white;
  line-height:1;
  font-size: $font-size-large;
  text-decoration: none;
}

.button__secondary{
  @extend .button;
  background-color: #888888 ;
}

.button--link{
  background:none;
}